@font-face {
    font-family: 'KoPubDotum';
    src: url('./fonts/KoPubWorldDotumPB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'KoPubDotum', sans-serif;
}
